services:
  postgres:
    image: postgres:latest
    container_name: auth-server-database
    ports:
      - "6543:5432"
    environment:
      POSTGRES_USER: theodore
      POSTGRES_PASSWORD: theo7272
      POSTGRES_DB: auth-db
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

volumes:
  postgres_data: